{% extends 'app/common/base.haml' %}

{% block content %}

%p You ({{ user.first_name|capfirst }} {{ user.last_name|capfirst }}) are logged in as a doctor

{% include 'app/common/table.haml' %}
{% endblock %}
