{% extends 'app/base.haml' %}

{% block content %}

%p You ({{ user.first_name|capfirst }} {{ user.last_name|capfirst }}) are logged in as a doctor

{% comment %}
{% if not appointment_list %}
  %p You don't have any appointment
{% else %}
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th Patient Name
          %th Time
      %tbody
        {% for appointment in appointment_list %}
        %tr
          %th {{ appointment.patient.user.first_name|capfirst }} {{ appointment.patient.user.last_name|capfirst }}           
          %th {{ appointment.datetime }}
        {% endfor %}
{% endif %}
{% endcomment %}

{% include 'app/table.haml' %}

{% endblock %}
