{% extends 'app/base.haml' %}

{% block content %}
%p You ({{ user.first_name }} {{ user.last_name }}) are logged in as a doctor
{% if not no_appointments %}
    %ul
        %p Patient Name                 Time
        {% for appointment in appointment_list %}
            %li {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}           {{ appointment.datetime }}
        {% endfor %}
{% else %}
    %p You don't have any appointment
{% endif %}
{% endblock %}
