{% extends 'app/base.haml' %}

{% block content %}

%p You ({{ user.first_name }} {{ user.last_name }}) are logged in as a patient
%a.btn.btn-lrg.btn-primary{:href => "{% url 'app:appointment' %}"} Book a new appointment
%br
%br

{% include 'app/table.haml' %}
{% endblock %}
