{% extends 'app/base.haml' %}

{% block content %}

%form{:action => "{% url 'app:patient-signup' %}", :method => "post"}
    {% csrf_token %}
    {{ form.as_table }}
    %input{:type => "submit", :value => "Submit"}
{% endblock %}
