{% extends 'app/base.haml' %}

{% block content %}

%p You ({{ user.first_name }} {{ user.last_name }}) are logged in as a patient
%a.btn.btn-lrg.btn-primary{:href => "{% url 'app:appointment' %}"} Book a new appointment
%br
%br
{% if not no_appointments %}
  .table-responsive
    %table.table.table-hover.table-striped.table-bordered
      %thead
        %tr
          %th Doctor Name
          %th Time
      %tbody
        {% for appointment in appointment_list %}
        %tr
          %th {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}
          %th {{ appointment.datetime }}
        {% endfor %}
{% else %}
    %p You don't have any appointment
{% endif %}

{% endblock %}
