{% if not appointment_list %}
  %p You don't have any appointment
{% else %}
  
  %script
    $(document).ready(function() {
        $('#appointment-table').DataTable();
    });

  .table.table-responsive
    %table#appointment-table.table.table-bordered
      %thead
        %tr
          {% if appointmen_list %} 
          %th Doctor Name 
          {% endif %}

          {% if appointment_list %} 
          %th Patient Name 
          {% endif %}
          
          %th Last Name
          %th Time

      %tbody
        {% for appointment in appointment_list %}
        %tr
          {% if hasattr(appointment, "patient") %} 
          %th {{ appointment.doctor.user.first_name }}
          %th {{ appointment.doctor.user.last_name }}
          {% endif %}

          {% if hasattr(appointment, "doctor") %}
          %th {{ appointment.patien.user.first_name }}
          %th {{ appointment.patient.user.last_name }}
          {% endif %}
          
          %th {{ appointment.datetime }}
          %th Delete
        {% endfor %}

{% endif %}
