{% if not appointment_list %}
  %p You don't have any appointment
{% else %}
  
  %script
    $(document).ready(function() {
      var dataSet = JSON.parse("{{appointment_list|escapejs}}"); 
        console.log(dataSet);
        $('#appointment-table').DataTable({
            data: dataSet,
            columns: [
                { data: "first_name", title: "First Name" },
                { data: "last_name", title: "Last Name"},
                { data: "time", title: "Time" },
                { 
                  data: "id", 
                  title: "Delete", 
                  render: function( data, type, row, meta) {
                      console.log( data, type, row, meta);
                      var s = "<a href = '{% url 'app:delete-appointment' data %}' > Delete </a>";
                      return s;
                  },
                }, 
            ],
        });
    });

  %table#appointment-table.display{:width => "100%"}
{% endif %}
