{% if not appointment_list %}
  %p You don't have any appointment
{% else %}
  
  %script
    $(document).ready(function() {
        $('#appointment-table').DataTable();
    });

  .table.table-responsive
    %table#appointment-table.table.table-striped.table-bordered
      %thead
        %tr
          {% if user.patient %} 
          %th Doctor Name 
          {% endif %}

          {% if user.doctor %} 
          %th Patient Name 
          {% endif %}
          
          %th Last Name
          %th Time
          %th Action

      %tbody
        {% for appointment in appointment_list %}
        %tr
          {% if user.patient %} 
          %th {{ appointment.doctor.user.first_name }}
          %th {{ appointment.doctor.user.last_name }}
          {% endif %}

          {% if user.doctor %}
          %th {{ appointment.patient.user.first_name }}
          %th {{ appointment.patient.user.last_name }}
          {% endif %}
          
          %th {{ appointment.datetime }}
          %th 
            %a{:href => "{% url 'app:delete-appointment' appointment.id %}" }Delete
        {% endfor %}

{% endif %}
